
@{
    ViewBag.Title = "Index5";
}

<h2>Index5</h2>
<hr />
<h3>Dosya Yükleme</h3>

<div class="container col-md-10">
    <div class="row">
        <div class="col-md-12">
            <h2>AJAX İle Dosya Yükleme</h2>
        </div>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Index5","Home",FormMethod.Post,new { encotype="multipart/form-data"}))
        {
            <input type="file" name="file" class="form-control"/>
            <input type="button"  id="btnSendFile" class="btn btn-success" value="Send File" />
        }

        <script>
            $("#btnSendFile").click(function () {
                var formdata = new FormData($("form").get(0));
                //var formdata = new FormData($("[name='file']")[0]);
                //var formdata = new FormData($("#file"));

                $.ajax({
                    method: "POST",
                    url: '@Url.Action("FileUpload","Home")',
                    data: formdata,
                    processData: false,
                    contentType: false
                }).done(function () {
                    if (result.hasError == false) {
                        alert(result.message);
                    }
                    else {
                        alert("Resim null geldi..!");
                    }
                });

            });
        </script>
    </div>
</div>

